<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans.xsd    
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/mvc   
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<!-- 激活@Controller模式 -->
	<mvc:annotation-driven />

	<!-- 扫描注释的package -->
	<context:component-scan base-package="com.warehouse.web" />
	
	<!-- spring会用Servlet的默认Servlet来响应静态文件,否则找不到js,css,jpg等 -->
	<mvc:default-servlet-handler/>

	<!-- thymeleaf -->
	<!-- <bean id="templateResolver"
		class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
		<property name="cacheable" value="false" />
		<property name="characterEncoding" value="utf-8" />
	</bean>

	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine">
			<bean class="org.thymeleaf.spring4.SpringTemplateEngine">
				<property name="templateResolver" ref="templateResolver" />
			</bean>
		</property>
		action中的返回值用viewNames来定位用那个resolver eg:return view/index
		<property name="viewNames" value="*" />
		<property name="order" value="2" />
		找了好久，在org.thymeleaf.spring4.view.ThymeleafViewResolver属性中有characterEncoding属性，所以要赋值
		<property name="characterEncoding" value="UTF-8"/>
	</bean> -->

	<!-- jsp resolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
		<!-- action中的返回值用viewNames来定位用那个resolver eg:return jsp/index -->
		<!-- <property name="viewNames" value="*" />
		<property name="order" value="1" />
		<property name="cache" value="false" /> -->
	</bean>

</beans>